html,body,a,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;line-height:1.25em;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

    html {
      position: relative;
      min-height: 100%;
      background-color: #424752;
    }

    body {
      margin: 0 0 6em;
      font-family: 'Lato', 'sans-serif';
      color: #fff;
    }

    header, footer {
      background-color: #383d49;
    }

    .footer_section a, .footer_section a:hover, .footer_section a:focus, .footer_section a:active, .footer_section a:visited, .icon {
      color: #ffcb05;
    }

      .icon:before {
        font-size: 1.5em;
      }

    .float_left {
      float: left;
    }

    .float_right {
      float: right;
    }

    header {
      padding: 1.5em 1em 0em;
      overflow: auto;
      border-bottom: .125em solid #2D3037;
    }

      .header_section {
        width: 21em;
        margin: 0 auto;
      }

      #homeBtn{
        height: 4em;
        width: 100%;
        display: block;
        background-image: url(../images/logo.png);
        background-size: 55% auto;
        background-repeat: no-repeat;
        background-position: center;
      }

      #menuBtn {
        margin-top: .875em;
        font-size: 1.25em;
      }

    section {
      clear: both;
      width: 80%;
      margin: 2em auto;
    }

    h1 {
      font-size: 1.25em;
      text-align: center;
      margin-top: 1em;
    }

    h2 {
      font-size: 1.25em;
      text-align: center;
    }

    p {
      margin-bottom: 1em;
    }
      
    #home ul, #firstView ul {
      margin: 0 2em;
    }

    .hero {
      width: 15em;
      margin: 2em auto;
      outline: .5em solid #ffcb05;
    }

    .padtop2 {
      margin-top: 2em;
    }

    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4em;
      width: 100%;
      padding: 2em 0 0;
      border-top: .125em solid #2D3037;
    }

    .footer_section {
      width: 21em;
      margin: 0 auto;
      font-size: .875em;
      padding: 1em 6% 0 3%;
    }

    .footer_right, .icon-map {
      margin-top: .5em;
    }

    .top_nav {
      font-size: 1.25em;
      margin: .25em 1.5em .75em;
    }

      .delayed_display {
        display: none;
        opacity: 0;
      }
}

body {
  
  overflow-y: scroll;
}

a {
  display: block;
}

img {
  max-width: 100%;
}

#home li, #firstView li {
  display: list-item;
}

#overlay_menu {
  border: .125em solid #2D3037;
  border-radius: .5em;
  padding: 0;
  margin-top: 2em;
}

.icon-services:before, .icon-about:before {
  font-size: .925em;
  width: 64px;
  padding: 0 .25em 0 0;
}

.icon-arrow:before {
  font-size: .5em;
  padding: 0 .5em 0 0;
  vertical-align: middle;
}

footer {
  padding: 0;
}

.customBtn, .repairBtn, .redesignBtn {
  display: block;
}

#services_mobile_nav {
  width: 80%;
  margin: 1em auto;
  text-align: center;
}

#services_mobile_nav > a {
  float: left;
  width: 28%;
  text-align: center;
  margin: 0 5%;
  padding: .5em 0;
  background-color: #383d49;
  border: .125em solid #2D3037;
  border-radius: .5em;

}

  #menuBtn:before, #services_mobile_nav {
    opacity: 1;
  }

#services_mobile_nav > a:first-of-type, #services_mobile_nav > a:last-of-type {
  margin: 0 auto 1em;
}

.submenu {
    color: #798ea1;
    margin: .5em 0 .5em 2em;
    font-size: 1.125em;
}

.submenu:before {
    padding-bottom: .25em;    
}

.bigBtn {
  font-size: 1.25em;
  padding: 1em 0 1em 1em;
}

.servicesBtn {
  display: ;
  background-color: #383d49;
  border-bottom: .125em solid #2D3037;
}

.aboutBtn {
  background-color: #383d49;
  border-top: .125em solid #2D3037;
}

.redesignBtn {
    margin-bottom: .75em;
}

  .delayed_display {
    opacity: 0;
    border: none;
  }

@media only screen and (min-width:400px) {
  body {
    margin: 0 auto 6em;
  }

  h1 {
    margin-bottom: 1em;
  }

  .hero {
    float: right;
    width: 50%;
    margin: 0 0 0 1em;
  }
 
  .footer_section {
    width: 22.85em;
    padding: 1em 0 0;
  }
}

@media only screen and (min-width:721px) {
  #menuBtn:before {
      opacity: 0;
  }
  
  .delayed_display {
    opacity: 1;
  }

  section p {
    font-size: 1.5em;
  }
  
  section h2 {
    font-size: 3em;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: .5em;
  }

  .hero {
    float: right;
    width: 50%;
    margin: 0 0 1em 1em;
    outline: .5em solid #ffcb05;
  }

  .footer_section {
    width: 22.85em;
    padding: 1em 0 0;
  }
}

@media only screen and (min-width:1001px) {
  body {
    margin: 0 auto 6em;
  }

  .footer_section {
    width: 22.85em;
    padding: 1em 0 0;
  }
}

/* animations */
#menuBtn:before, #services_mobile_nav, .aboutBtn, .servicesBtn {
  -webkit-transition: opacity .5s ease-in-out;
}

[ui-view="main"].ng-enter, [ui-view="main"].ng-leave, [ui-view="services"].ng-enter, [ui-view="services"].ng-leave, [ui-view="menu"].ng-enter, [ui-view="menu"].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view="main"].ng-enter, [ui-view="services"].ng-enter, [ui-view="menu"].ng-enter {
  opacity: 0;
  -webkit-transform:translateY(500px);
  -moz-transform:translateY(500px);
  transform:translateY(500px);
}

[ui-view="main"].ng-enter-active, [ui-view="services"].ng-enter-active, [ui-view="menu"].ng-enter-active {
  opacity: 1;
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);
  transform:translateY(0);
}

[ui-view="main"].ng-leave, [ui-view="services"].ng-leave, [ui-view="menu"].ng-leave {
  opacity: 1; 
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);
  transform:translateY(0);
}

[ui-view="services"].ng-enter-active {
  opacity: 1;
  -webkit-transform:translateY(1.25em);
  -moz-transform:translateY(1.25em);
  transform:translateY(1.25em);
}

[ui-view="services"].ng-leave {
  opacity: 1; 
  -webkit-transform:translateY(1.25em);
  -moz-transform:translateY(1.25em);
  transform:translateY(1.25em);
}

[ui-view="main"].ng-leave-active, [ui-view="services"].ng-leave-active, [ui-view="menu"].ng-leave-active {
  opacity: 0;
  -webkit-transform:translateY(500px);
  -moz-transform:translateY(500px);
  transform:translateY(500px);
}