html,body,a,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;line-height:1.25em;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

  html {
    position: relative;
    min-height: 100%;
    background-color: #424752;
  }

    body {
      margin: 0 auto 6em;
      font-family: 'Lato', 'sans-serif';
      color: #fff;
      /*overflow-y: scroll;*/
    }

    header, footer {
      background-color: #383d49;
    }

    .footer_section a, .footer_section a:hover, .footer_section a:focus, .footer_section a:active, .footer_section a:visited, .icon {
      color: #ffcb05;
    }

      .icon:before {
        font-size: 1.5em;
      }

    .float_left {
      float: left;
    }

    .float_right {
      float: right;
    }

    header {
      padding: 1.5em 0em 0em;
      overflow: auto;
      border-bottom: .125em solid #2D3037;
    }

      .header_section {
        width: 20em;
        margin: 0 auto;
      }

      #homeBtn{
        height: 4em;
        width: 100%;
        display: block;
        /*background-image: url(../images/logo.png);*/
/*        background-size: 55% auto;
        background-repeat: no-repeat;
        background-position: center;
*/      }

    .logo {
      width: 55%;
      margin: 0 22.5%;
    }

      #menuBtn {
        margin-top: .875em;
        font-size: 1.25em;
      }

    section {
      clear: both;
      width: 60%;
      margin: 2em auto;
    }

    h1 {
      font-size: 1.25em;
      text-align: center;
      margin-top: 1em;
    }

    h2 {
      font-size: 1.25em;
      text-align: center;
    }

    p {
      margin-bottom: 1em;
    }
      
    #home ul, #firstView ul {
      margin: 0 2em;
    }

    .hero {
      width: 15em;
      margin: 2em auto;
      outline: .5em solid #ffcb05;
    }

    .padtop2 {
      margin-top: 2em;
    }

    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4em;
      width: 100%;
      padding: 2em 0 0;
      border-top: .125em solid #2D3037;
    }

    .footer_section {
      width: 20em;
      margin: 0 auto;
      font-size: .875em;
      padding: 1em 0 0;
    }

    .footer_right, .icon-map {
      margin-top: .5em;
    }

    .footer_left {
      margin-left: -.75em;
    }

    .top_nav {
      font-size: 1.25em;
      margin: .25em 1.25em .75em;
    }

    .icon-about:before, .icon-services:before, .icon-phone:before {
      padding-right: .125em;
    }

a {
  display: block;
}

img {
  max-width: 100%;
}

#home li, #firstView li {
  display: list-item;
}

#overlay_menu {
  border: .125em solid #2D3037;
  padding: 0;
  margin-top: 2em;
}

.icon-services:before, .icon-about:before {
  font-size: .925em;
  width: 64px;
}

footer {
  padding: 0;
}

.customBtn, .repairBtn, .redesignBtn {
  display: block;
}

#services_mobile_nav {
  width: 80%;
  margin: 1em auto;
  text-align: center;
}

#services_mobile_nav > a {
  float: left;
  width: 28%;
  text-align: center;
  margin: 0 5%;
  padding: .5em 0;
  background-color: #383d49;
  border: .125em solid #2D3037;

}

p, p > img {
  transition:all 1s ease-in-out;
}

p > img {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  display: block;
  opacity: 0;
  border: .25em solid gray;
}

p > img.visible {
  opacity: 1;
}

  .img_float {
    left: -.25em;
  }

@media only screen and (min-width:400px) {
  .img_float {
    float: right;
    left: 0;
  }

    .img_float > img {
      height: 10em;
    }
}

@media only screen and (min-width:721px) {
  .delayed_display {
    opacity: 1;
  }

  section p {
    font-size: 1.5em;
  }
  
  section h2 {
    font-size: 3em;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: .5em;
  }
}

@media only screen and (min-width:1001px) {
}

