---
title: Rhyans Design Studio
published: true
---
<!-- 
  <div class='container'>
    <div class='col12 clearfix'>
      <div class='header col6 margin3 pad4h'>
        <div class='clearfix col12'>
          <div class='menu fr'>
          </div>
          <h1 class='title'><a href='{{site.baseurl}}/'>{{page.title}}</a></h1>
        </div>
      </div>
    </div>
    {{content}}
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>{% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel='shortcut icon' href='{{site.baseurl}}/favicon.ico' type='image/x-icon' />
    <link href='{{site.baseurl}}/css/site.css' rel='stylesheet' />
    <link href='{{site.baseurl}}/css/icons.css' rel='stylesheet' />
  </head>
  <body ng-app="app">
    <header>
      <a id="homeBtn" class='float_left {% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/'></a>
      <a id="menuBtn" class="icon icon-menu float_right"></a>
      <a class='icon icon-about aboutBtn float_right delayed_display {% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>About Us</a>
      <a class='icon icon-services servicesBtn float_right delayed_display {% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/services'>Services</a>
    </header>
    {{content}}
        <!--
          [if IE 7]>
            <link rel="stylesheet" href="styles/icons-ie7.css">
          <![endif]
        -->
    <section class="footer_section">
      <div class="footer_left float_left">
        <a href="https://www.google.com/maps/place/Rhyans+Design+Studio/@33.9767389,-84.479676,17z/data=!4m2!3m1!1s0x0:0xeadf077ad3fd7bb7" class="icon float_left">
          <div class="icon icon-map float_left"></div>
          1050 East Piedmont<br />Marietta, GA 30062
        </a>
      </div>
      <div class="footer_right float_right">
        <a href="tel://6785605718" class="icon float_left">
          <div class="icon icon-phone float_left"></div>
          (678) 560-5718
        </a>
      </div>
    </section>
    <script>
      delayedDisplay = document.querySelectorAll('.delayed_display');
      for(var i = 0; i < delayedDisplay.length; ++i) {
        delayedDisplay[i].style.display = 'inline';
      }
      
      WebFontConfig = {
        google: {
          families: ['Lato']
        }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

      window.addEventListener('load', function() {
          FastClick.attach(document.body);
      }, false);
    </script>
    <script src='{{site.baseurl}}/js/fastclick.js'></script>
  </body>
</html>