---
title: Rhyans Design Studio
published: true
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>{% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel='shortcut icon' href='{{site.baseurl}}/favicon.ico' type='image/x-icon' />
    <link href='{{site.baseurl}}/css/site.css' rel='stylesheet' />
    <link href='{{site.baseurl}}/css/icons.css' rel='stylesheet' />
  </head>
  <body ng-app="app">
    <header>
      <section class="header_section">
        <a id="homeBtn" class='float_left {% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/'></a>
        <section class="footer_section">
          <div class="footer_left float_left top_nav">
            <a class='icon icon-about aboutBtn float_right delayed_display {% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>About Us</a>
          </div>
          <div class="footer_right float_right top_nav">
            <a class='icon icon-services servicesBtn float_right delayed_display {% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/services'>Services</a>
          </div>
        </section>

      </section>
    </header>
    <section class="main">
      {{content}}
    </section>
    <footer>
      <section class="footer_section">
        <div class="footer_left float_left">
          <a href="https://www.google.com/maps/place/Rhyans+Design+Studio/@33.9767389,-84.479676,17z/data=!4m2!3m1!1s0x0:0xeadf077ad3fd7bb7" class="icon float_left">
            <div class="icon icon-map float_left"></div>
            1050 East Piedmont<br />Marietta, GA 30062
          </a>
        </div>
        <div class="footer_right float_right">
          <a href="tel://6785605718" class="icon float_left">
            <div class="icon icon-phone float_left"></div>
            (678) 560-5718
          </a>
        </div>
      </section>
    </footer>
    <script>
      delayedDisplay = document.querySelectorAll('.delayed_display');
      for(var i = 0; i < delayedDisplay.length; ++i) {
        delayedDisplay[i].style.display = 'inline';
      }
      
      WebFontConfig = {
        google: {
          families: ['Lato']
        }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

      // window.addEventListener('load', function() {
      //   var fsScript = document.createElement('script');
      //   fsScript.src = '{{site.baseurl}}/js/fastclick.js';
      //   document.body.appendChild(fsScript);
      //   fsScript.onLoad(function() {
      //     FastClick.attach(document.body);
      //   });
      // }, false);
    </script>
  </body>
</html>